
.main-wrapper{
    display:flex;
    flex-direction:column;
    align-content: center;
    background-color: white;
    padding: 0;
    margin-left: 300px;
    margin-right: 300px;
    height: 900px;
    width: fit-content;
    border: 2px solid grey;
    flex: 1;
}

.first-wrapper{
    display: flex;
    flex-direction:column;
    background-color:lightslategray;
    padding-left: 50px;
    padding-right: 50px;

}

.info-1-box{
    display:flex;
    flex-direction: column;
    height: fit-content;
    width:fit-content;
    
}

.info-1a-box{
    display:flex;
    flex-direction: column;
    font-size: xx-large;
}

.signup-box{
    color:white;
    background-color:blue;
    padding: 8px;
    margin-top:10px;
    width: fit-content;
    border-radius: 8px;
}

.image-placeholder{
    color:beige;
    background-color:grey;
    color:black ;
    align-content: center;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:300px;
    height:100px;
    width: 120px;
    border-radius: 5px;
    white-space: nowrap;
    overflow: hidden;
    font-size: x-small;


}
.second-wrapper{
    display:flex;
    flex-direction: column;
    align-content: center;
    border: 1px solid grey;

}
.container{
    display:flex;
    flex-direction: row;
    padding: 10px;
    flex-wrap: wrap;
}

.box{
    padding: 10px;
    margin: 4px;
    border: 2px solid blue;
    height: 100px;
    width: 100px;
    border-radius: 8px;

}

.description{
    margin-top: 5px;
    font-size: medium;
    text-align:center;
}

.third-wrapper{
  display: flex;
  flex-direction: column;
  background-color:grey;
  text-align:center;
  padding: 20px;
  padding-top: 60px;
  margin: 0;
  width: auto;
  height: 150px;
  
}

.fourth-wrapper{
    display: flex; 
    flex-direction: column;
    background-color: white;
    height: 150px;
    justify-content: center;
}

.box6{
    display: flex;
    justify-content: flex-end;
    background-color: blue;
    font-size: smaller;
    padding: 10px;
    margin: 10px;
    margin-left: 250px;
    margin-right: -30px; 
    align-content: center;
    height: fit-content;
    width: fit-content;
    border-radius: 8px;

}

.signup-box2{
    display:flex;
    flex-direction: column;
    background-color: red;
    padding: 5px;
    margin: 5px;
    margin-top: 15x;
    border: 2px solid blue;
    width: fit-content;
    border-radius: 5px;
}

.fifth-wrapper{
     display: flex;
     flex-direction: column;
     flex-grow: 1;
     color: white;
     background-color: black;
     align-items: center;
     height: auto;
     padding-top: 10px;

     

}